# -- Discord ------------------------------------------------------------------
# (Required) ID of Discord Guild (server) to deploy admin commands to
GUILD_ID=
# (Required) Discord BOT Token
BOT_TOKEN=
# (Required) Discord BOT Application ID
APPLICATION_ID=

# -- Storage ------------------------------------------------------------------
# (Required) Absolute path to directory for database files
DB_DIR_PATH=
# (Required) Absolute path to directory for asset (sticker) files
ASSETS_DIR_PATH=
# (Recommended) Absolute path to directory for log files
LOG_DIR_PATH=

# -- Binaries -----------------------------------------------------------------
# (Required) Absolute path to ffmpeg binary
FFMPEG_PATH=
# (Required) Absolute path to ffprobe binary
FFPROBE_PATH=

# -- Assets Server ------------------------------------------------------------
# (Required) Hostname for asset server
ASSETS_SERVER_HOSTNAME=
# (Required) Port for asset server to listen on
ASSETS_SERVER_PORT=4675

# -- Autocomplete Settings ----------------------------------------------------
# (Optional) Autocomplete suggestion sorting method
AUTOCOMPLETE_ORDER_BY= # usage.count | usage.timeLastUsed

# -- Logging ------------------------------------------------------------------
# (Optional) Set logging level
LOG_LEVEL=info # fatal | error | warn | info | debug | trace
# (Optional) Enable logging to console
LOG_TO_CONSOLE=false # true | false
# (Optional) How old the log file needs to be before being rotated in days
MAX_LOG_AGE_DAYS=7
# (Optional) How large the log file needs to get before being rotated in MBs
MAX_LOG_SIZE_MB=10
# (Optional) How many rotated log files to keep
MAX_LOG_ROTATIONS=4
# (Recommended) Disable dotenv config reminders
DOTENV_CONFIG_QUIET=true