# -- Discord ------------------------------------------------------------------
# (Required) ID of Discord Guild (server) to deploy admin commands to
GUILD_ID=
# (Required) Discord BOT Token
BOT_TOKEN=
# (Required) Discord BOT Application ID
APPLICATION_ID=

# -- Storage ------------------------------------------------------------------
# (Required) Absolute path to directory for database files
DB_DIR_PATH=
# (Required) Absolute path to directory for asset (sticker) files
ASSETS_DIR_PATH=
# (Recommended) Absolute path to directory for log files
LOG_DIR_PATH=

# -- Binaries -----------------------------------------------------------------
# (Required) Absolute path to ffmpeg binary
FFMPEG_PATH=
# (Required) Absolute path to ffprobe binary
FFPROBE_PATH=

# -- Assets Server ------------------------------------------------------------
# (Required) Hostname for asset server
ASSETS_SERVER_HOSTNAME=
# (Required) Port for asset server to listen on
ASSETS_SERVER_PORT=

# -- Autocomplete Settings ----------------------------------------------------
# (Optional) Autocomplete suggestion sorting method
AUTOCOMPLETE_ORDER_BY= # usage.count | usage.timeLastUsed (default: usage.count)

# -- Logging ------------------------------------------------------------------
# (Optional) Set logging level
LOG_LEVEL= # fatal | error | warn | info | debug | trace (default: info)
# (Optional) Enable logging to console
LOG_TO_CONSOLE= # true | false (default: false)
# (Recommended) Disable dotenv config reminders
DOTENV_CONFIG_QUIET=true